<%- include('partials/header') %>
<h1>This is the myresume page</h1>


<!-- <% data.forEach(function(datum){ %> -->
    <li>
        <%= datum.firstName %>
    </li>
<!-- <% }) %> -->
<a href="/myresume/new">Modify Resume</a>

<%- include('partials/footer') %>