<%- include('partials/header') %>
<h1>Create a New user</h1>

<form action="/myresume" method="POST">
    <input type="text" name="nameOne" placeholder="Enter your first name">
    <input type="text" name="nameTwo" placeholder="Enter your last name">
    <button>Submit</button>
</form>
<a href="/myresume">Preview</a>
<%- include('partials/footer') %>